.album {
  margin-bottom: 20px;
  text-align: center;
}

.album img {
  width: 100%; 
  height: 420px;
  object-fit: cover;
  cursor: pointer;
}

#loading {
  display: none !important;
}

#loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.card-body {
  display: none;
}

/* Responsividade pra telas grandes */
@media (min-width: 768px) {
  #album-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .album {
    width: 100%;
  }

  .album img {
    width: 100%; 
    height: 420px;
  }
}

@media (max-width: 767px) {
  #album-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .album {
    width: 100%;
  }

  .album img {
    width: 100%;
    height: 300px;
  }
}