.album {
  margin-bottom: 20px;
  text-align: center;
}

.album img {
  width: 100%; 
  height: 420px; 
  object-fit: cover; 
  cursor: pointer;
}

#loading {
  display: none !important;
}

.modal-body p {
  margin: 5px 0;
}

#loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.card-body{
  display:none !important;
}